body {
	background-color: blue
}

#pic_main_bsg {
	float: left;
}

#my_blog {
	width: 200px;
	height: 140px;
	float: right;
}


pre {
	clear: left
}

.section_titles {
	background-color: #b3c6ff;
	color: white;
	padding: 20px;
}