body {
	background-color: blue
}

#pic_main_bsg {
	float: left;
}

#my_blog {
	width: 200px;
	height: 140px;
	float: right;
}


pre {
	clear: left
}

header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}

nav li {
	float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
	background-color: green
}

footer ul {
	list-style-type: none;
    padding: 0;
}



footer li {
	display: inline;
}


.section_titles {
	background-color: #b3c6ff;
	color: white;
	padding: 20px;
}

.container {
	width: 100%;
	border: 1px solid white;
}