/* Responsive Web Design */
/* box-sizing makes sure that padding and border are included in the total width and height */

* {
    box-sizing: border-box;
}
 
 /* Previously, had created a .column class of 33% */
 /* this worked so long as you only needed 3 columns: */
 /* .column {
    float: left;
    width: 33.33%;
    padding: 15px;
}
*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

body {
	background-color: blue;
    margin: 0;
}

#pic_main_bsg {
	float: left;
}

#my_blog {
	width: 200px;
	height: 140px;
	float: right;
}

pre {
	clear: left
}

.header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}


.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
	background-color: blue;
    color: black;
}



.footer {
	background-color: black;
    text-align: center;
    padding: 10px;
}

.footer li {
	display: inline;
    padding: 50px;
}


.section_titles {
	background-color: #b3c6ff;
	color: white;
	padding: 20px;
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

[title="title"] {
	background-color: white;
}

