/* Responsive Web Design */
/* box-sizing makes sure that padding and border are included in the total width and height */

* {
    box-sizing: border-box;
}
 
 /* Previously, had created a .column class of 33% */
 /* this worked so long as you only needed 3 columns: */
 .column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

Responsive Web Design 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* CSS Grid */

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

body {
	background-color: blue;
    margin: 0;
}

img {
    opacity: 0.3;
    border-radius: 25px;
}

pre {
	clear: left
}

.header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav ul {
    list-style-type: none;
}


.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
	background-color: blue;
    color: black;
}

.section_titles {
	background-color: #b3c6ff;
	color: white;
	padding: 20px;
}

#author {
    font-size: 8px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

[title="title"] {
	background-color: white;
}

